{% extends "index.html" %}

{% block content %}
<div class="alert alert-success" role="alert">
  Logged in
</div>
<form method="post" action="/">
	<div class='logout-button'>
		<input type="image" src="static/img/logout.png" alt="Log out" width="40" height="40" />
	</div>
</form>
<center>
	<h1>Notes</h1>
</center>
<form method="post" enctype="multipart/form-data">
	<center>
		<div class="form-group">
			<textarea autofocus maxlength="200" placeholder="Type your note...." name="note"></textarea>
			<input type="file" class="form-control-file" id="photo" name="file">
			<button type="submit" class="btn btn-primary">Send</button>
		</div>
	</center>
</form>
{% block notes %}{% endblock %}
{% endblock %}