{% extends "base.html" %} 

{% block title %}
Cabinet
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <h2>My Blog</h2>
      <div class="home-btn">
        <a id="home" href="/home">
          <img src="static/img/home.png"
          onmouseover="this.src='static/img/home-hover.png'"
          onmouseout="this.src='static/img/home.png'" 
          alt="Home" width="50" height="50">
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<h4>Name:</h4>
{% for name in user.first_name %}
	<b>{{ name }}</b>
{% endfor %}
{% endblock %}