{% extends "base.html" %}

{% block title %}
Main Page
{% endblock %} 

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <h2>My Blog</h2>
      <div class='login-btn'>
        <a class="nav-item nav-link" id="login" href="/login">
          <button type="button" class="btn btn-outline-light">Вход</button>
        </a>
      </div>
      <div class='nav-signup-btn'>
        <a class="nav-item nav-link" id="signUp" href="/sign-up">
          <button type="button" class="btn btn-outline-light">Регистрация</button>
        </a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="first-block">
	<b>MyBlog</b>
	<div class="desc">универсальный инструмент развития личности</div>
	<div class="benefits">
		✓ Надёжно сохранит опыт и впечатления<br>
		✓ Проводник на пути к собственной индивидуальности<br>
		✓ Упростит ведение и организацию дневниковых записей
	</div>
	<div class="signup-btn">
		<a id="signUp" href="/sign-up">
			<img src="static/img/signup.png"
			onmouseover="this.src='static/img/signup-hover.png'"
			onmouseout="this.src='static/img/signup.png'" 
			alt="Sign Up" width="220" height="70">
		</a>
	</div>
</div>
{% endblock %}